.container-bg {
  width: 100%;
  background-image: url(../images/Background1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  margin-bottom: 50px;
}
