.section-welcome__subtitle {
  font-size: 72px;
  color: $link-color;
  margin-bottom: 50px;
}

.section-welcome__title {
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  color: $link-color;
  max-width: 850px;
  margin: 0 auto 120px auto;
}
