$main-font-steck: 'Roboto', 'Arial', 'sans-serif';
$secondary-font: 'Montserrat', 'Arial', 'sans-serif';
$text-color: #999999;
$link-color: #ffffff;
$title-color: #333333;
$main-color: #f38181;
$secondary-color: #fce38a;
$placeholder-color: #cccccc;
$services-icon-color: #95e1d3;
